<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Briefify</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>briefify</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.briefify.knowledge</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-549139645156-ios-798c57052990b2e4d862f1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Briefify needs music permission allow you to upload audio.</string>
	<key>NSCameraUsageDescription</key>
	<string>Briefify needs camera permission allow you to upload photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Briefify needs microphone permission allow you to upload audios.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Briefify needs storage permission allow you to upload photos.The goal is to display professional photos which will increase trust and instill credibility amount fellow scholars and users.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_universal_link_domains</key>
    <array>
        <string>briefify.io</string>
        <string>https://apps.apple.com/pk/app/briefify/id1606744259</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>Briefify</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.briefify.knowledge</string>
        </dict>
    </array>
    <key>branch_key</key>
    <dict>
        <key>live</key>
        <string>key_live_pd8PEIC7WxY34hklOm2UvhbkqxmlvycR</string>
        <key>test</key>
        <string>secret_live_9ZVRIn6wDs6A8ipejMaSdeISdJfdxEpm</string>
    </dict>
<string>ca-app-pub-1721909976834129/6795955943</string>
</dict>
</plist>
